name: 'Aws testing'
 
# The workflow should only trigger on pull requests to the main branch
on:
  workflow_dispatch:
 
# Required to get the ID Token that will be used for OIDC
permissions:
  id-token: write
 
jobs:
  read-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
 
      #- name: Configure AWS Credentials
      #  uses: aws-actions/configure-aws-credentials@v1
      #  with:
      #    aws-region: eu-west-1
      #    role-to-assume: ${{ secrets.ARNROLE }}
      #    role-session-name: OIDCSession
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1 # https://github.com/marketplace/actions/configure-aws-credentials-action-for-github-actions
        with:
          role-to-assume: arn:aws:iam::910202846130:role/CdkStack-githubActionsRol-GitHubActionmauvedex8DB7-ERTHOBX3E6HU
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: "us-east-1"
 
      - run: aws sts get-caller-identity
        shell: bash
      
      - run: aws s3 ls
        shell: bash
